/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffdfba; /* Soft goldish yellow for the page background */
}

/* Add some padding at the top of the body to avoid overlap with the fixed header */
body {
  padding-top: 70px; /* Adjust this value based on your actual header height */
}

/* some styling for the favouring effect */
.recipe.favourite {
  background-color: #ffdfba;  /* coloured bg for favoured recipes */
}

